<helfomat-map [center]="position"
              [zoom]="zoom"
              mapSize="large"
              [showMapResizeButton]="false"
              [showDefaultAddressBar]="false"
              (updatePosition)="_position$.next($event)">
    <div class="addressSearchContainer row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'location.headline' | translate }}
                </div>
                <div class="panel-body">
                    <p>{{ 'location.contentStart' | translate }}</p>
                    <p>
                        <input
                            class="addressInput form-control"
                            type="text"
                            placeholder="{{ 'map.address' | translate }}"/>
                    </p>
                    <p>{{ 'location.contentEnd1' | translate }}<a
                        (click)="continueWithoutLocation()">{{
                        'location.contentEnd2Link' | translate }}</a>{{
                        'location.contentEnd3' | translate }}</p>
                    <p><a (click)="continueWithoutLocation()" class="btn btn-xs btn-default">{{ 'location.buttonContinueWithoutAddress' | translate}}</a></p>
                </div>
            </div>
        </div>
    </div>
</helfomat-map>