/* colors */
$darkblue: #182282;
$lightblue: #3579db;
$white: #ffffff;
$lightgray: #eeeeee;
$gray: #9b9b9b;
$darkgray: #535353;

/* mixins */
@mixin transform($p1) {
  transform: $p1;
  -ms-transform: $p1;
  -moz-transform: $p1;
  -o-transform: $p1;
  -webkit-transform: $p1;
}

@mixin transform-origin($p1, $p2) {
  transform-origin: $p1 $p2;
  -ms-transform-origin: $p1 $p2;
  -moz-transform-origin: $p1 $p2;
  -o-transform-origin: $p1 $p2;
  -webkit-transform-origin: $p1 $p2;
}

@font-face {
  font-family: 'Hand Of Sean';
  font-style: normal;
  font-weight: normal;
  src: local('Hand Of Sean'), url('./assets/fonts/handsean.woff') format('woff');
}

body {
  background-color: $lightgray;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 12px;

  img {
    border: 0;
  }

  a {
    color: $darkblue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

#body {
  margin: auto;
  width: 1100px;

  #tabsLeft {
    float: left;
    @include transform(rotate(90deg));
    @include transform-origin(0, 0);
    height: 50px;
    padding-left: 185px;

    ul {
      @include transform(rotate(180deg));
      @include transform-origin(50%, 50%);
      text-align: left;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        height: 50px;
        margin: 0 5px;
        background-color: $darkgray;
        color: $white;
        font-size: 16px;

        &.active {
          background-color: $darkblue;
        }

        a {
          display: block;
          color: $white;
          text-decoration: none;
          line-height: 50px;
          padding: 0 20px;
        }
      }
    }
  }

  #main {
    float: left;
    width: 1000px;
    margin-left: 50px;
    margin-top: -50px;
    background-color: $white;
    box-shadow: 0 0 20px $darkgray;
    text-align: left;

    #header {
      background-image: url("./assets/images/logo.png");
      width: 1000px;
      height: 160px;
      color: white;

      h1 {
        margin: 0;
        padding: 30px 30px 0;
        font-size: 28px;
        font-family: 'Hand Of Sean', Helvetica, Arial, sans-serif;
      }

      h2 {
        margin: 0;
        padding: 10px 30px 30px;
        font-size: 12px;
        font-weight: bold;
      }

      #headerlink {
        float: right;
      }
    }

    #sponsors {
      padding: 3px 30px;
      border-top: 1px solid $darkgray;

      div {
        float: left;
        margin-right: 25px;
      }
    }
  }

  .clear {
    clear: both;
  }
}

.form-control {
  border: 1px solid $lightgray;
  border-radius: 0;
}

.panel {
  border-radius: 0;
}

.panel-default {
  border: none;
}

.panel-default > .panel-heading {
  color: $darkgray;
  background-color: $lightgray;
  border-color: $darkblue;
  font-weight: bold;
}

.progress {
  background-color: $lightgray;
  border-radius: 0;
}

.progress-bar {
  background-color: $darkblue;
}