<div class="card card-default" *ngFor="let obj of currentOrganizations">
    <div class="card-header pointer" (click)="openOrganization.emit(obj.organization)">
        <div class="distance" *ngIf="obj.distance">
            <i class="material-icons">navigation</i>
            <distance [meter]="obj.distance"></distance>
        </div>
        {{obj.organization.name}}
    </div>
    <div class="card-body pointer" (click)="openOrganization.emit(obj.organization)">
        <div class="row">
            <div class="col-4" *ngIf="obj.organization.logo">
                <img class="media-object" [attr.src]="getImagePath(obj.organization.logo)"
                     [attr.alt]="obj.organization.name">
            </div>
            <div class="col-8">
                <div class="row" *ngIf="obj.organization.scoreNorm">
                    <div class="col-sm-10 col-md-10">
                        <organization-score [scoreNorm]="obj.organization.scoreNorm"></organization-score>
                    </div>
                </div>
                <p>
                    <span *ngFor="let contactPerson of obj.organization.contactPersons">
                        <strong>{{contactPerson.firstname}} {{contactPerson.lastname}}</strong>
                        <span *ngIf="contactPerson.rank">({{contactPerson.rank}})</span>
                        <br/>
                    </span>
                </p>
                <p>
                    <a [attr.href]="obj.organization.website">{{obj.organization.website}}</a>
                </p>
                <p><a class="float-right" (click)="openOrganization.emit(obj.organization)" (keyup.enter)="openOrganization.emit(obj.organization)" tabindex="50">{{'result.list.more' | translate}}</a></p>
            </div>
        </div>
    </div>
</div>