<div class="panel panel-default" *ngFor="let organisation of currentOrganisations">
    <div class="panel-heading pointer" (click)="openOrganisation.emit(organisation)">{{organisation.name}}</div>
    <div class="panel-body pointer" (click)="openOrganisation.emit(organisation)">
        <div class="media">
            <div class="media-left media-top media-logo">
                <img class="media-object" [attr.src]="getImagePath(organisation.logo)"
                     [attr.alt]="organisation.name">
            </div>
            <div class="media-body">
                <div class="row">
                    <div class="col-xs-10 col-sm-10">
                        <organisation-score [scoreNorm]="organisation.scoreNorm"></organisation-score>
                    </div>
                    <div class="col-xs-2 col-sm-2"><a
                        (click)="openOrganisationScoreExplanation.emit(organisation)"
                        [title]="'result.list.hoverResultExplain' | translate:{'organisationName': organisation.name}"><span
                        class="glyphicon glyphicon-question-sign"></span></a></div>
                </div>
                <p>
                    <span *ngFor="let contactPerson of organisation.contactPersons">
                        <strong>{{contactPerson.firstname}} {{contactPerson.lastname}}</strong>
                        <span *ngIf="contactPerson.rank">({{contactPerson.rank}})</span>
                        <br/>
                    </span>
                </p>
                <p>
                    <a [attr.href]="organisation.website">{{organisation.website}}</a>
                </p>
            </div>
        </div>
    </div>
</div>