<div style="clear: both"></div>

<div class="col-md-12">
    <helfomat-map
        [organisations]="organisations"
        [position]="position"
        [distance]="distance"
        [center]="center"
        [zoom]="zoom"></helfomat-map>
</div>

<div class="col-md-12" *ngIf="organisation">
    <div class="col-md-4" style="float: right">
        <div class="panel panel-default">
            <div class="panel-heading">
                Facts
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <td colspan="2">
                        <organisation-score [scoreNorm]="scoreNorm | async"></organisation-score>
                    </td>
                </tr>
                <tr>
                    <td>Entfernung Auto</td>
                    <td>7 km, 0:13h</td>
                </tr>
                <tr>
                    <td>Entfernung ÖPNV</td>
                    <td>10 km, 0:40h</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button (click)="_back$.next()">back to overview</button>
    <h1>{{organisation.name}}</h1>

    <h2>Address</h2>
    <p *ngFor="let address of organisation.addresses">
        {{address.street}}, {{address.zipcode}} {{address.city}}<br/>
        Telephone: {{address.telephone}}
    </p>

    <h2>Contact</h2>

    <h2>Description</h2>
    <p>{{organisation.description}}</p>

    <h2>Events</h2>

    <h2>Groups</h2>
    <div *ngFor="let group of organisation.groups">
        <h3>{{group.name}}</h3>
        {{group.description}}
    </div>

    <h2>Persons</h2>

    <h2>Questions</h2>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Questions</div>
        <table class="table">
            <tr>
                <th>Question</th>
                <th>Organisation</th>
                <th>You</th>
            </tr>
            <tr *ngFor="let question of organisation.questions;  let i = index;">
                <td>{{question.question}}</td>
                <td><img src="{{question.answer | answerImage}}" class="thumb"/></td>
                <td><img src="{{userAnswers[i] | answerImage}}" class="thumb"/></td>
            </tr>
        </table>
    </div>


</div>