<div *ngIf="organisation | async; let organisation; else loading">
    <div class="custom-content">
        <div class="logo-container" *ngIf="organisation.pictures.length > 0">
            <div class="logo">
                <img src="api/picture/{{organisation.logo.value}}/icon"
                     [attr.alt]="organisation.name">
            </div>
            <img src="api/picture/{{organisation.pictures[0].value}}/teaser" width="100%"/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <h1>{{organisation.name}}</h1>
            <p><a href="{{organisation.website}}">{{organisation.website}}</a></p>
            <p>{{organisation.description}}</p>

            <div *ngIf="organisation.attendanceTimes.length > 0">
                <h2>{{'organisation.attendanceTime.title' | translate}}</h2>
                <div *ngFor="let attendanceTime of organisation.attendanceTimes">
                    <h4>
                        {{'organisation.attendanceTime.weekday.' + attendanceTime.day | translate}},
                        {{attendanceTime.start | time}}-{{attendanceTime.end | time}}
                        {{'organisation.attendanceTime.clock' | translate}}
                    </h4>
                    <p>
                        {{'organisation.attendanceTime.groups' | translate}}
                        {{attendanceTime.groups | groupNames: organisation.groups}}
                    </p>
                    <p *ngIf="attendanceTime.note">
                        {{'organisation.attendanceTime.note' | translate}}
                        {{attendanceTime.note}}
                    </p>
                </div>
            </div>

            <h2>{{'organisation.group.title' | translate}}</h2>
            <div *ngFor="let group of organisation.groups">
                <h3>{{group.name}}</h3>
                {{group.description}}
            </div>

            <div *ngIf="organisation.volunteers.length > 0">
                <h2>{{'organisation.persons.title' | translate}}</h2>
                <div class="card" *ngFor="let volunteer of organisation.volunteers">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4" *ngIf="volunteer.picture">
                                <img src="api/picture/{{volunteer.picture.value}}/medium" alt="{{volunteer.firstname}}"
                                     style="width:100%">
                            </div>
                            <div class="col-lg-8">
                                <div class="caption">
                                    <h3>{{volunteer.firstname}}</h3>
                                    <p>{{volunteer.motivation}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="userAnswers | async; let userAnswers">
                <h2 id="compare">{{'organisation.questionsAndAnswers.title' | translate}}</h2>
                <div class="card card-default">
                    <table class="table">
                        <tr>
                            <th>{{'organisation.questionsAndAnswers.question' | translate}}</th>
                            <th>{{'organisation.questionsAndAnswers.organisation' | translate}}</th>
                            <th>{{'organisation.questionsAndAnswers.you' | translate}}</th>
                            <th>{{'organisation.questionsAndAnswers.compare.title' | translate}}</th>
                        </tr>
                        <tr *ngFor="let question of organisation.questions; let i = index;">
                            <td>{{question.question}}</td>
                            <td><img src="{{question.answer | answerImage}}" class="thumb"/></td>
                            <td><img *ngIf="userAnswers[i]" src="{{userAnswers[i] | answerImage}}" class="thumb"/></td>
                            <td class="text-right">
                                <span *ngIf="userAnswers[i]">{{'organisation.questionsAndAnswers.compare.match' + (question.answer |
                                    compareAnswer:userAnswers[i]) | translate}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-default" *ngIf="organisation.addresses.length > 0">
                <div class="card-header">
                    {{organisation.addresses.length | i18nPlural: {
                    '=1': 'organisation.address.title',
                    'other': 'organisation.address.titlePlural'
                } | translate}}
                </div>
                <helfomat-map
                    [organisations]="organisations"
                    [position]="position"
                    [distance]="distance"
                    [center]="center"
                    [zoom]="zoom"
                    [allowUpdatePosition]="false"
                    [showMapResizeButton]="false"></helfomat-map>
                <ul class="list-group">
                    <li *ngFor="let address of organisation.addresses" class="list-group-item"
                        [ngClass]="{'list-group-item-info': areAddressesEqual(organisation.defaultAddress, address)}">
                        <strong *ngIf="address.addressAppendix">{{address.addressAppendix}}<br/></strong>
                        {{address.street}}, {{address.zipcode}} {{address.city}}<br/>
                        <span
                            *ngIf="address.telephone">{{'organisation.address.telephone' | translate}}: {{address.telephone}}</span>
                    </li>
                </ul>
                <br class="clearfix"/>
            </div>

            <div class="card card-default" *ngIf="organisation.contactPersons.length > 0">
                <div class="card-header">
                    {{'organisation.contact.title' | translate}}
                </div>
                <div class="card-body">
                    <div *ngFor="let contactPerson of organisation.contactPersons" class="row">
                        <div class="col-md-4" *ngIf="contactPerson.picture">
                            <img src="api/picture/{{contactPerson.picture.value}}/icon"
                                 width="100%"
                                 alt="{{contactPerson.firstname}} {{contactPerson.lastname}}"/>
                        </div>
                        <div class="col">
                            <h4>{{contactPerson.firstname}} {{contactPerson.lastname}}</h4>
                            <p>
                                <span *ngIf="contactPerson.rank">({{contactPerson.rank}})<br/></span>
                                <span *ngIf="contactPerson.telephone">{{'organisation.contact.telephone' | translate}}
                                    {{contactPerson.telephone}}<br/></span>
                                <span *ngIf="contactPerson.mail">{{'organisation.contact.mail' | translate}}
                                    {{contactPerson.mail}}<br/></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-default" *ngIf="scoreNorm | async; else backLink">
                <div class="card-header">
                    {{'organisation.facts.helfomatResult.title' | translate}}
                </div>
                <div class="card-body">
                    <organisation-score [scoreNorm]="scoreNorm | async"></organisation-score>
                    <br class="clearfix"/>
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <a pageScroll class="btn btn-secondary" href="#compare">
                            {{'organisation.facts.helfomatResult.compare' | translate}}
                        </a>
                        <button class="btn btn-secondary" (click)="_back$.next()">
                            {{'organisation.facts.helfomatResult.back' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <ng-template #backLink>
                <div class="card card-default">
                    <div class="card-header">
                        {{'organisation.facts.helfomatResult.action' | translate}}
                    </div>
                    <div class="card-body">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-secondary" (click)="_back$.next()" [title]="'organisation.facts.helfomatResult.back' | translate">
                                <i class="material-icons">backspace</i>
                            </button>
                            <a href="#" class="btn btn-secondary"><i class="material-icons">history</i></a>
                            <a class="btn btn-secondary" [href]="'organisation/' + organisation.urlName + '/edit'"><i class="material-icons">edit</i></a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <div class="card card-default" *ngIf="travelDistances | async; let travelDistances">
                <div class="card-header">
                    {{'organisation.facts.distance.title' | translate}}
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>{{'organisation.facts.distance.meansOfTransport' | translate}}</th>
                        <th>{{'organisation.facts.distance.distance' | translate}}</th>
                        <th>{{'organisation.facts.distance.duration' | translate}}</th>
                    </tr>
                    <tr *ngFor="let travelDistance of travelDistances">
                        <td>{{'organisation.facts.distance.' + travelDistance.travelMode | translate}}</td>
                        <td>
                            <distance [meter]="travelDistance.distanceInMeters"></distance>
                        </td>
                        <td>
                            <time [seconds]="travelDistance.timeInSeconds"></time>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="card card-default" *ngIf="organisation.pictures.length > 1">
                <div class="card-header">
                    {{'organisation.pictures.title' | translate}}
                </div>
                <img src="api/picture/{{picture.value}}/medium" width="100%"
                     *ngFor="let picture of organisation.pictures.slice(1)"/>
            </div>

        </div>

    </div>
</div>

<ng-template #loading>{{'organisation.dataLoading' | translate}}</ng-template>