<h1>Herzlich Willkommen beim Helf-O-Mat,</h1>

<p>Du willst was tun? Du willst Dich engagieren? Du weißt noch nicht wo und wie?</p>

<p><strong>Hier</strong> bist Du richtig!</p>

<p>Klicke durch die folgenden Fragen und lasse Dir den Weg in Deine zukünftige Einsatzorganisation aufzeigen! Nach Beantwortung der letzten Frage wird Dir die für Dich grundsätzlich passende Einsatzorganisation vorgeschlagen.</p>

<p>Der Helf-O-Mat wurde von dem gemeinnützigen Verein HelfenKannJeder e.V. entwickelt und steht seither allen Benutzern der Seite <strong>HelfenKannJeder.de</strong> zur Verfügung, um – passend zu den eigenen Interessen - die richtige Einsatzorganisation in regionaler Nähe zu finden. Nahezu alle BOS Einsatzorganisationen sind auf der Seite vertreten.</p>

<p>2017 gewann HelfenKannJeder e.V. mit seinem Helf-O-Mat den ersten Preis bei der „Helfenden Hand“ des Bundesministeriums des Inneren in der Kategorie „Nachwuchsarbeit“. Unzählige neue Helferinnen und Helfer konnten an die registrierten Organisationen in den vergangenen Jahren vermittelt werden.</p>

<div class="start-button">
    <button type="button" class="btn btn-primary btn-lg" (click)="start()">Start</button>
</div>