img.thumb {
  width: 2em;
  height: 2.32em;
}

.list-group .list-group-item {
  border: 0;
}

.question {
  display: flex;
  align-items: center;

  .badge {
    background: none;
    margin-right: 10px;
  }

  .badge a {
    border: none;
  }
}