<div class="col-lg-12">
    <div class="jumbotron" *ngFor="let questionWithUserAnswer of questionWithUserAnswersSync; let i = index"
         [hidden]="getLastAnsweredQuestion(questionWithUserAnswersSync) !== i">
        <div class="fix-height">
            <h1>{{questionWithUserAnswer.question.question}}</h1>
            <p class="description">{{questionWithUserAnswer.question.description}}</p>
        </div>
        <p class="text-center clearfix">
            <a class="btn btn-lg btn-yes"
               role="button"
               (click)="answerQuestion('YES', questionWithUserAnswer.question);"
               (keyup.enter)="answerQuestion('YES', questionWithUserAnswer.question);"
               tabindex="1">
                <img src="{{ 'YES' | answerImage}}"/><br/>
                {{ 'question.yes' | translate }}
            </a>
            <a class="btn btn-lg btn-maybe"
               role="button"
               (click)="answerQuestion('MAYBE', questionWithUserAnswer.question);"
               (keyup.enter)="answerQuestion('MAYBE', questionWithUserAnswer.question);"
               tabindex="2">
                <img src="{{ 'MAYBE' | answerImage}}"/><br/>
                {{ 'question.maybe' | translate }}
            </a>
            <a class="btn btn-lg btn-no"
               role="button"
               (click)="answerQuestion('NO', questionWithUserAnswer.question);"
               (keyup.enter)="answerQuestion('NO', questionWithUserAnswer.question);"
               tabindex="3">
                <img src="{{ 'NO' | answerImage}}"/><br/>
                {{ 'question.no' | translate }}
            </a>
        </p>
        <p class="text-center question-progress">
        <span *ngFor="let subQuestionWithUserAnswer of questionWithUserAnswersSync"
              class="material-icons answer"
              [ngClass]="classOfAnswer(subQuestionWithUserAnswer.userAnswer?.answer)">fiber_manual_record</span>
        </p>
    </div>
</div>
<div class="col-lg-3 float-right" *ngIf="showSkipQuestions()">
    <div class="row">
        <div class="card card-default">
            <div class="card-header">
                {{ 'question.skip.headline' | translate }}
            </div>
            <div class="card-body">
                <p>{{ 'question.skip.contentEnd1' | translate }} <a (click)="continueWithoutQuestions()">{{
                    'question.skip.contentEnd2Link' | translate }}</a> {{ 'question.skip.contentEnd3' | translate }}</p>
                <p><a (click)="continueWithoutQuestions()" (keyup.enter)="continueWithoutQuestions()" class="btn btn-sm btn-secondary" tabindex="4">{{
                    'question.skip.buttonContinueWithoutQuestions' | translate}}</a></p>
            </div>
        </div>
    </div>
</div>