<div *ngIf="organization$ | async; let organization; else loading">
    <form class="needs-validation" novalidate (ngSubmit)="openPublishChangesConfirmation(organization)" (change)="calculateChanges(organization)">
        <nav class="navbar sticky-top navbar-dark bg-lightblue">
            <span class="navbar-brand">{{organization.name}}</span>
            <div class="btn-group" *ngIf="changes | async; let changes">
                <button class="btn btn-outline-light" type="button" [disabled]="changes.length == 0" (click)="openPublishChangesConfirmation(organization, 1)">{{'edit.organization.publish.review' | translate}} <span class="badge badge-secondary">{{changes.length}}</span></button>
                <button class="btn btn-warning" type="submit" [disabled]="changes.length == 0">{{'edit.organization.publish.publishChanges' | translate}}</button>
            </div>
        </nav>
        <div class="custom-content">
            <div class="logo-container" *ngIf="organization.pictures.length > 0">
                <div class="logo">
                    <img src="api/picture/{{organization.logo.value}}/icon"
                         [attr.alt]="organization.name">
                </div>
                <img [src]="organization.pictures[0].fileDataUrl || 'api/picture/' + organization.pictures[0].value + '/teaser'" width="100%"/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <h1>{{ 'edit.organization.title' | translate: {name: organization.name} }}</h1>
                <div class="form-group">
                    <label for="name">{{ 'edit.organization.name' | translate }}</label>
                    <input type="text" id="name" name="name" class="form-control" [ngClass]="{'is-invalid': hasError(organizationName)}" required [(ngModel)]="organization.name" #organizationName="ngModel"/>
                    <div *ngIf="hasError(organizationName)" class="invalid-feedback">
                        <div *ngIf="organizationName.errors.required">{{ 'edit.organization.error.nameIsRequired' | translate }}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website">{{ 'edit.organization.website' | translate }}</label>
                    <input type="text" id="website" name="website" class="form-control" [(ngModel)]="organization.website"/>
                </div>
                <div class="form-group">
                    <label for="description">{{ 'edit.organization.description' | translate }}</label>
                    <textarea class="form-control" id="description" name="description" autosize [(ngModel)]="organization.description"></textarea>
                </div>

                <div>
                    <h2>
                        {{'organization.attendanceTime.title' | translate}}
                        <button class="btn btn-success btn-sm" (click)="add(organization.attendanceTimes, organization);" type="button">
                            <i class="material-icons">add</i>
                        </button>
                    </h2>
                    <div cdkDropList (cdkDropListDropped)="drop(organization.attendanceTimes, $event, organization)">
                        <div *ngFor="let attendanceTime of organization.attendanceTimes" class="card card-default draggable" cdkDrag>
                            <div class="card-header" (click)="attendanceTime.__expanded = !attendanceTime.__expanded">
                                <button class="float-right btn btn-danger btn-sm" (click)="remove(organization.attendanceTimes, attendanceTime, organization);" type="button">
                                    <i class="material-icons" (click)="remove(organization.attendanceTimes, attendanceTime, organization);">delete</i>
                                </button>
                                <h4>
                                    <i class="material-icons">{{ attendanceTime.__expanded ? 'expand_more' : 'chevron_right' }}</i>
                                    {{
                                    (attendanceTime.day
                                        ? 'organization.attendanceTime.weekday.' + attendanceTime.day
                                        : 'edit.organization.attendanceTime.new') | translate
                                    }},
                                    {{attendanceTime.start | time}} - {{attendanceTime.end | time}}
                                    {{'organization.attendanceTime.clock' | translate}}
                                </h4>
                            </div>
                            <div class="card-body" *ngIf="attendanceTime.__expanded">
                                <div class="form-group">
                                    <label [for]="getId('weekday', attendanceTime)">{{'edit.organization.attendanceTime.weekday' | translate}}</label>
                                    <select class="form-control" [name]="getId('weekday', attendanceTime)" [id]="getId('weekday', attendanceTime)" [(ngModel)]="attendanceTime.day" required>
                                        <option *ngFor="let weekday of weekdays" [value]="weekday">{{'organization.attendanceTime.weekday.' + weekday | translate}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label [for]="getId('weekdayTime', attendanceTime)">{{'edit.organization.attendanceTime.time' | translate}}</label>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <ngb-timepicker [(ngModel)]="attendanceTime.start" [minuteStep]="15" [name]="getId('weekdayStart', attendanceTime)" (ngModelChange)="calculateChanges(organization)" required></ngb-timepicker>
                                        </div>
                                        <div class="col-sm-6">
                                            <ngb-timepicker [(ngModel)]="attendanceTime.end" [minuteStep]="15" [name]="getId('weekdayEnd', attendanceTime)" (ngModelChange)="calculateChanges(organization)" required></ngb-timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label [for]="getId('weekdayNote', attendanceTime)">{{'organization.attendanceTime.note' | translate}}</label>
                                    <textarea class="form-control" [id]="getId('weekdayNote', attendanceTime)" [name]="getId('weekdayNote', attendanceTime)" autosize [(ngModel)]="attendanceTime.note"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h2>
                    {{'organization.group.title' | translate}}
                    <button class="btn btn-success btn-sm" (click)="add(organization.groups, organization);" type="button">
                        <i class="material-icons">add</i>
                    </button>
                </h2>
                <div cdkDropList (cdkDropListDropped)="drop(organization.groups, $event, organization)">
                    <div *ngFor="let group of organization.groups" class="card card-default draggable" cdkDrag [id]="group.__id">
                        <div class="card-header" (click)="group.__expanded = !group.__expanded">
                            <button class="float-right btn btn-danger btn-sm" (click)="remove(organization.groups, group, organization);" type="button">
                                <i class="material-icons">delete</i>
                            </button>
                            <h4>
                                <i class="material-icons">{{ group.__expanded ? 'expand_more' : 'chevron_right' }}</i>
                                {{
                                group.name ?
                                    ('edit.organization.groups.groupName' | translate: {groupName: group.name}) :
                                    ('edit.organization.groups.newGroupName' | translate)
                                }}
                            </h4>
                        </div>
                        <div class="card-body" *ngIf="group.__expanded">
                            <div class="form-group">
                                <label [for]="getId('groupName', group)">{{ 'edit.organization.groups.name' | translate }}</label>
                                <input type="text"
                                       [id]="getId('groupName', group)"
                                       [name]="getId('groupName', group)"
                                       class="form-control"
                                       [(ngModel)]="group.name"
                                       [ngbTypeahead]="searchGroup(organization.groups)"
                                       (selectItem)="selectGroup($event, group)"
                                       required
                                />
                            </div>
                            <div class="form-group">
                                <label [for]="getId('groupDescription', group)">{{ 'edit.organization.groups.description' | translate }}</label>
                                <textarea class="form-control"
                                          [id]="getId('groupDescription', group)"
                                          [name]="getId('groupDescription', group)"
                                          autosize [(ngModel)]="group.description"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-default">
                    <div class="card-header">
                        {{organization.addresses.length | i18nPlural: {
                        '=1': 'organization.address.title',
                        'other': 'organization.address.titlePlural'
                    } | translate}}
                        <button class="btn btn-success btn-sm float-right" (click)="editAddress(organization.addresses, {city: '',location: null ,street: '',zipcode: ''}, organization)" type="button">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                    <helfomat-single-map
                        [organization]="organization$"
                        [allowUpdatePosition]="false"
                        [showMapResizeButton]="false"></helfomat-single-map>
                    <ul class="list-group"  cdkDropList (cdkDropListDropped)="drop(organization.addresses, $event, organization)">
                        <li *ngFor="let address of organization.addresses" class="list-group-item draggable"
                            [ngClass]="{'list-group-item-info': areAddressesEqual(organization.defaultAddress, address)}" cdkDrag [id]="address.__id">
                            <div class="float-right btn-group" role="group">
                                <button class="btn btn-primary btn-sm" (click)="editAddress(organization.addresses, address, organization);" type="button">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button class="btn btn-danger btn-sm" (click)="remove(organization.addresses, address, organization);" type="button">
                                    <i class="material-icons">delete</i>
                                </button>
                            </div>
                            <strong *ngIf="address.addressAppendix">{{address.addressAppendix}}<br/></strong>
                            {{address.street}}, {{address.zipcode}} {{address.city}}<br/>
                            <span
                                *ngIf="address.telephone">{{'organization.address.telephone' | translate}}: {{address.telephone}}</span>
                        </li>
                    </ul>
                    <br class="clearfix"/>
                </div>

                <div class="card card-default" *ngIf="organization.contactPersons.length > 0">
                    <div class="card-header">
                        {{'organization.contact.title' | translate}}
                    </div>
                    <div class="card-body">
                        <div *ngFor="let contactPerson of organization.contactPersons" class="row">
                            <div class="col-md-4" *ngIf="contactPerson.picture">
                                <img src="api/picture/{{contactPerson.picture.value}}/icon"
                                     width="100%"
                                     alt="{{contactPerson.firstname}} {{contactPerson.lastname}}"/>
                            </div>
                            <div class="col">
                                <h4>{{contactPerson.firstname}} {{contactPerson.lastname}}</h4>
                                <p>
                                    <span *ngIf="contactPerson.rank">({{contactPerson.rank}})<br/></span>
                                    <span *ngIf="contactPerson.telephone">{{'organization.contact.telephone' | translate}}
                                        {{contactPerson.telephone}}<br/></span>
                                    <span *ngIf="contactPerson.mail">{{'organization.contact.mail' | translate}}
                                        {{contactPerson.mail}}<br/></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-default" cdkDropList (cdkDropListDropped)="drop(organization.pictures, $event, organization)">
                    <div class="card-header">
                        {{'organization.pictures.title' | translate}}
                    </div>
                    <div class="draggable" cdkDrag *ngFor="let picture of organization.pictures" [cdkDragData]="picture">
                        <button class="btn btn-danger btn-sm position-top-right" (click)="remove(organization.pictures, picture, organization);" type="button">
                            <i class="material-icons" (click)="remove(organization.pictures, picture, organization);">delete</i>
                        </button>
                        <img [src]="'api/picture/' + picture.value + '/medium' | authImage | async" style="width:100%"/>
                        <div class="cdk-drag-placeholder" *cdkDragPlaceholder style="height:200px"></div>
                    </div>
                    <div class="upload-file-container" (click)="fileInput.click()" dragDrop (onFileDropped)="uploadFile(organization.pictures, $event)">
                        <input hidden type="file" #fileInput (change)="uploadFile(organization.pictures, $event.target.files)">
                        <i class="material-icons">cloud_upload</i>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<ng-template #loading>{{'organization.dataLoading' | translate}}</ng-template>