<div class="modal-header bg-lightblue text-white">
    <h4 class="modal-title" id="modal-title">
        {{ 'dialog.contact-organization.title' | translate: { contact: contact, organization: organization } }}
    </h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body text-left" [innerHTML]="'dialog.contact-organization.confirmation-text' | translate: { contact: contact, organization: organization }">
</div>
<div class="modal-footer" *ngIf="canTriggerResend()">
    <button type="button" ngbAutofocus class="btn btn-sm btn-primary" (click)="triggerResend()">{{'dialog.contact-organization.resendButton' | translate}}</button>
</div>