<div id="body">
    <div id="tabsLeft" [@menu]="menuVisible">
        <ul>
            <li><a href="https://helfenkannjeder.de/verein/ueber-uns/">
                {{ 'menu.association' | translate }}
            </a></li>
            <li><a [href]="getMyAccountUrl()">
                {{ 'menu.myAccount' | translate }}
            </a></li>
            <li *ngIf="isReviewer()" [routerLinkActive]="['active']"><a routerLink="/admin">
                {{ 'menu.admin' | translate }}
            </a></li>
            <li><a href="https://helfenkannjeder.de/neues/">
                {{ 'menu.helfenkannjeder' | translate }}
            </a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/volunteer">
                {{ 'menu.helf-o-mat' | translate }}
            </a></li>
        </ul>
    </div>
    <div id="main">
        <div id="header">
            <div class="navTrigger" [ngClass]="{'active': menuVisible == 'visible'}" (click)="toggleMenu()">
                <i></i><i></i><i></i>
            </div>
            <div id="headerlink">
                <a href="/"><img src="assets/images/blank.gif" width="300"
                                 height="105"/></a>
            </div>
            <h1>{{ 'header.title1' | translate }}</h1>
            <h2>{{ 'header.title2' | translate }}</h2>
        </div>
        <div class="content clearfix">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div>
            <nav class="navbar">
                <ul class="nav nav-pills mr-auto">
                    <li class="nav-item"><a class="nav-link" href="//helfenkannjeder.de/neues/">Neues</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/helfenkannjeder/">{{ 'navigation.instagram' | translate }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/HelfenKannJeder/">{{ 'navigation.facebook' | translate }}</a></li>
                </ul>
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link" href="//helfenkannjeder.de/kontakt/">{{ 'navigation.contact' | translate }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="//helfenkannjeder.de/faq/">{{ 'navigation.faq' | translate }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="//helfenkannjeder.de/datenschutz/">{{ 'navigation.privacy' | translate }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="//helfenkannjeder.de/impressum/">{{ 'navigation.imprint' | translate }}</a></li>
                </ul>
            </nav>
        </div>
        <div id="sponsors">
            <div>
                <a href="http://www.baden-wuerttemberg.de/" target="_blank"><img
                    src="assets/sponsors/land_bw.png" width="47" height="62"
                    alt="Land Baden-Württemberg"></a>
            </div>
            <div>
                <a href="http://telematis.de/" target="_blank"><img
                    src="assets/sponsors/telematis.png" width="150" height="53"
                    alt="Telematis"></a>
            </div>
            <div>
                <a href="http://www.bohling-eisele.de/" target="_blank"><img
                    src="assets/sponsors/bohling-eisele.png" width="170" height="74"
                    alt="Motorradhaus Bohling+Eisele"></a>
            </div>
            <div>
                <img src="assets/sponsors/google-impact-challenge.jpg" width="210" height="86"
                     alt="Gewinner der Google Impact Challenge Deutschland 2016" border="0">
            </div>
            <div>
                <p><a href="https://helfenkannjeder.de/partner/">Weitere Sponsoren und Partner</a></p>
            </div>
            <br class="clear"/>
        </div>
    </div>
    <div class="clear"></div>
</div>