<div id="body">
    <div id="main">
        <div id="header">
            <div id="headerlink">
                <a routerLink="/"><img src="assets/images/blank.gif" width="600"
                                 height="105"/></a>
            </div>
            <h1>{{ 'header.title1' | translate }}</h1>
            <h2>{{ 'header.title2' | translate }}</h2>
        </div>
        <div class="content clearfix">
            <div class="container-fluid">
                <kiosk-navigate></kiosk-navigate>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>