<div class="modal-header bg-lightblue text-white">
    <h4 class="modal-title" id="modal-title">{{'edit.organization.changesSentForReview.title' | translate: {organizationName: organizationName} }}</h4>
</div>
<div class="modal-body text-left">
    {{'edit.organization.changesSentForReview.content' | translate: {organizationName: organizationName} }}
</div>
<div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-primary" (click)="modal.close()">{{'edit.organization.changesSentForReview.confirm' | translate}}</button>
</div>