@import "../../../../colors";

.upload-file-container {
  padding-top: 0.5em;
  padding-bottom: 0.4em;
  font-size: 6em;
  cursor: pointer;
  text-align: center;
  background-color: $lightgray;
  color: $darkblue;

  .progress {
    background-color: $darkgray;
    margin: 0 1em;
  }
}
