<div class="list-group">
    <div *ngIf="organizationEvents.length == 0" class="list-group-item flex-column align-items-start">
        <h5 class="mb-1">{{ 'edit.organization.changes.noChanges.title' | translate }}</h5>
        {{ 'edit.organization.changes.noChanges.content' | translate }}
    </div>
    <ng-container *ngFor="let organizationEvent of organizationEvents">
        <div [ngSwitch]="organizationEvent.type" class="list-group-item flex-column align-items-start"
             [ngClass]="{
             'list-group-item-danger': isDeleteEvent(organizationEvent.type),
             'list-group-item-success': isCreateEvent(organizationEvent.type),
             'list-group-item-info': isChange(organizationEvent.type)
             }">
            <ng-container *ngSwitchCase="'.OrganizationCreateEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.created.title' | translate }}</h5>
                {{ 'edit.organization.changes.created.description' | translate: {name: organizationEvent.name, urlName: organizationEvent.urlName, organizationType: organizationEvent.organizationType } }}
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationDeleteEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.deleted.title' | translate }}</h5>
                {{ 'edit.organization.changes.deleted.description' | translate: {name: organization?.name} }}
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditAddAddressEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.address.add.title' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDefaultAddressEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.address.default.title' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDeleteAddressEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.address.delete.title' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditAddAttendanceTimeEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.attendanceTime.add.title' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDeleteAttendanceTimeEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.attendanceTime.delete.title' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditAddContactPersonEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.contactPerson.add.title' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDeleteContactPersonEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.contactPerson.delete.title' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditAddGroupEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.group.add.title' | translate: {groupTitle: organizationEvent.group.name} }}</h5>
                {{organizationEvent.group.description}}
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDeleteGroupEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.group.delete.title' | translate: {groupTitle: organizationEvent.group.name} }}</h5>
                {{organizationEvent.group.description}}
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditAddPictureEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.picture.add.title' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDeletePictureEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.picture.delete.title' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditAddQuestionAnswerEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.questionAnswer.add.title' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDeleteQuestionAnswerEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.questionAnswer.delete.title' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditAddVolunteerEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.volunteer.add.title' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDeleteVolunteerEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.volunteer.delete.title' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDescriptionEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.descriptionChanged' | translate }}</h5>
                <text-diff [text1]="organization?.description" [text2]="organizationEvent.description"></text-diff>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditLogoEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.logoChanged' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditNameEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.nameChanged' | translate }}</h5>
                <text-diff [text1]="organization?.name" [text2]="organizationEvent.name"></text-diff>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditTeaserImageEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.teaserImageChanged' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditUrlNameEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.urlNameChanged' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditWebsiteEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.websiteChanged' | translate }}</h5>
                <text-diff [text1]="organization?.website" [text2]="organizationEvent.website"></text-diff>
            </ng-container>
            <ng-container *ngSwitchDefault>{{ 'edit.organization.changes.unknownEvent' | translate: {eventName: organizationEvent.type} }}</ng-container>
        </div>
    </ng-container>
</div>