<div class="list-group">
    <div *ngIf="organizationEvents.length == 0" class="list-group-item flex-column align-items-start">
        <h5 class="mb-1">{{ 'edit.organization.changes.noChanges.title' | translate }}</h5>
        {{ 'edit.organization.changes.noChanges.content' | translate }}
    </div>
    <ng-container *ngFor="let organizationEvent of organizationEvents">
        <div [ngSwitch]="organizationEvent.type" class="list-group-item flex-column align-items-start"
             [ngClass]="{
             'list-group-item-danger': isDeleteEvent(organizationEvent.type),
             'list-group-item-success': isCreateEvent(organizationEvent.type),
             'list-group-item-info': isChange(organizationEvent.type)
             }">
            <ng-container *ngSwitchCase="'.OrganizationCreateEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.created.title' | translate: {name: organizationEvent.name} }}</h5>
                {{ 'edit.organization.changes.created.description' | translate: {name: organizationEvent.name, urlName: organizationEvent.urlName, organizationType: organizationEvent.organizationType} }}
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationDeleteEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.deleted.title' | translate }}</h5>
                {{ 'edit.organization.changes.deleted.description' | translate: {name: organization?.name} }}
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditAddAddressEventDto'">
                <div class="float-right">
                    <map-icon [geoPoint]="organizationEvent.address.location" [organizationType]="organization?.organizationType"></map-icon>
                </div>
                <h5 class="mb-1">{{ 'edit.organization.changes.address.add.title' | translate }}</h5>
                <strong *ngIf="organizationEvent.address.addressAppendix">{{organizationEvent.address.addressAppendix}}<br/></strong>
                {{organizationEvent.address.street}}, {{organizationEvent.address.zipcode}} {{organizationEvent.address.city}}
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDefaultAddressEventDto'">
                <div class="float-right">
                    <map-icon [geoPoint]="organizationEvent.address.location" [organizationType]="organization?.organizationType"></map-icon>
                </div>
                <ng-container *ngIf="organization?.defaultAddress != null && !isGeoPointEqual(organization?.defaultAddress?.location, organizationEvent.address.location)">
                    <div class="float-right map-arrow">
                        <span class="material-icons md-48">keyboard_arrow_right</span>
                    </div>
                    <div class="float-right">
                        <map-icon [geoPoint]="organization?.defaultAddress?.location" [organizationType]="organization?.organizationType"></map-icon>
                    </div>
                </ng-container>
                <h5 class="mb-1">{{ 'edit.organization.changes.address.default.title' | translate }}</h5>
                <strong *ngIf="organizationEvent.address.addressAppendix"><text-diff [text1]="organization?.defaultAddress?.addressAppendix" [text2]="organizationEvent.address.addressAppendix"></text-diff><br/></strong>
                <text-diff [simple]="true" [text1]="organization?.defaultAddress?.street" [text2]="organizationEvent.address.street"></text-diff>,
                <text-diff [simple]="true" [text1]="organization?.defaultAddress?.zipcode" [text2]="organizationEvent.address.zipcode"></text-diff>&nbsp;<text-diff [simple]="true" [text1]="organization?.defaultAddress?.city" [text2]="organizationEvent.address.city"></text-diff>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDeleteAddressEventDto'">
                <div class="float-right">
                    <map-icon [geoPoint]="organizationEvent.address.location" [organizationType]="organization?.organizationType"></map-icon>
                </div>
                <h5 class="mb-1">{{ 'edit.organization.changes.address.delete.title' | translate }}</h5>
                <strong *ngIf="organizationEvent.address.addressAppendix">{{organizationEvent.address.addressAppendix}}<br/></strong>
                {{organizationEvent.address.street}}, {{organizationEvent.address.zipcode}} {{organizationEvent.address.city}}
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditChangeAddressEventDto'">
                <change-position [indexOffset]="organizationEvent.indexOffset"></change-position>
                <div class="float-right">
                    <map-icon [geoPoint]="organizationEvent.address.location" [organizationType]="organization?.organizationType"></map-icon>
                </div>
                <ng-container *ngIf="!isGeoPointEqual(organizationEvent.oldAddress.location, organizationEvent.address.location)">
                    <div class="float-right map-arrow">
                        <span class="material-icons md-48">keyboard_arrow_right</span>
                    </div>
                    <div class="float-right">
                        <map-icon [geoPoint]="organizationEvent.oldAddress.location" [organizationType]="organization?.organizationType"></map-icon>
                    </div>
                </ng-container>
                <h5 class="mb-1">{{ 'edit.organization.changes.address.change.title' | translate }}</h5>
                <strong *ngIf="organizationEvent.address.addressAppendix"><text-diff [text1]="organizationEvent.oldAddress.addressAppendix" [text2]="organizationEvent.address.addressAppendix"></text-diff><br/></strong>
                <text-diff [simple]="true" [text1]="organizationEvent.oldAddress.street" [text2]="organizationEvent.address.street"></text-diff>,
                <text-diff [simple]="true" [text1]="organizationEvent.oldAddress.zipcode" [text2]="organizationEvent.address.zipcode"></text-diff>&nbsp;<text-diff [simple]="true" [text1]="organizationEvent.oldAddress.city" [text2]="organizationEvent.address.city"></text-diff>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditAddAttendanceTimeEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.attendanceTime.add.title' | translate }}</h5>
                {{'organization.attendanceTime.weekday.' + organizationEvent.attendanceTime.day | translate}},
                {{organizationEvent.attendanceTime.start | time}} -
                {{organizationEvent.attendanceTime.end | time}}
                <p *ngIf="organizationEvent.attendanceTime.note">{{organizationEvent.attendanceTime.note}}</p>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDeleteAttendanceTimeEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.attendanceTime.delete.title' | translate }}</h5>
                {{'organization.attendanceTime.weekday.' + organizationEvent.attendanceTime.day | translate}},
                {{organizationEvent.attendanceTime.start | time}} -
                {{organizationEvent.attendanceTime.end | time}}
                <p *ngIf="organizationEvent.attendanceTime.note">{{organizationEvent.attendanceTime.note}}</p>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditChangeAttendanceTimeEventDto'">
                <change-position [indexOffset]="organizationEvent.indexOffset"></change-position>
                <h5 class="mb-1">{{ 'edit.organization.changes.attendanceTime.change.title' | translate }}</h5>
                <text-diff [text1]="'organization.attendanceTime.weekday.' + organizationEvent.oldAttendanceTime.day | translate" [text2]="'organization.attendanceTime.weekday.' + organizationEvent.attendanceTime.day | translate" [simple]="true"></text-diff>,
                <text-diff [text1]="organizationEvent.oldAttendanceTime.start | time" [text2]="organizationEvent.attendanceTime.start | time"></text-diff> -
                <text-diff [text1]="organizationEvent.oldAttendanceTime.end | time" [text2]="organizationEvent.attendanceTime.end | time"></text-diff>
                <p><text-diff [text1]="organizationEvent.oldAttendanceTime.note" [text2]="organizationEvent.attendanceTime.note"></text-diff></p>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditAddContactPersonEventDto'">
                <div class="float-right" *ngIf="organizationEvent.contactPerson.picture">
                    <img [src]="'api/picture/' + organizationEvent.contactPerson.picture.value + '/icon' | authImage | async"
                         width="100%"
                         alt="{{organizationEvent.contactPerson.firstname}} {{organizationEvent.contactPerson.lastname}}"/>
                </div>
                <h5 class="mb-1">{{ 'edit.organization.changes.contactPerson.add.title' | translate }}</h5>
                {{organizationEvent.contactPerson.firstname}} {{organizationEvent.contactPerson.lastname}}<br />
                <span *ngIf="organizationEvent.contactPerson.rank">({{organizationEvent.contactPerson.rank}})<br/></span>
                <span *ngIf="organizationEvent.contactPerson.telephone">{{'organization.contact.telephone' | translate}} {{organizationEvent.contactPerson.telephone}}<br/></span>
                <span *ngIf="organizationEvent.contactPerson.mail">{{'organization.contact.mail' | translate}} {{organizationEvent.contactPerson.mail}}<br/></span>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDeleteContactPersonEventDto'">
                <div class="float-right" *ngIf="organizationEvent.contactPerson.picture">
                    <img [src]="'api/picture/' + organizationEvent.contactPerson.picture.value + '/icon' | authImage | async"
                         width="100%"
                         alt="{{organizationEvent.contactPerson.firstname}} {{organizationEvent.contactPerson.lastname}}"/>
                </div>
                <h5 class="mb-1">{{ 'edit.organization.changes.contactPerson.delete.title' | translate }}</h5>
                {{organizationEvent.contactPerson.firstname}} {{organizationEvent.contactPerson.lastname}}<br />
                <span *ngIf="organizationEvent.contactPerson.rank">({{organizationEvent.contactPerson.rank}})<br/></span>
                <span *ngIf="organizationEvent.contactPerson.telephone">{{'organization.contact.telephone' | translate}} {{organizationEvent.contactPerson.telephone}}<br/></span>
                <span *ngIf="organizationEvent.contactPerson.mail">{{'organization.contact.mail' | translate}} {{organizationEvent.contactPerson.mail}}<br/></span>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditChangeContactPersonEventDto'">
                <div class="float-right" *ngIf="organizationEvent.contactPerson.picture">
                    <img [src]="'api/picture/' + organizationEvent.contactPerson.picture.value + '/icon' | authImage | async"
                         width="100%"
                         alt="{{organizationEvent.contactPerson.firstname}} {{organizationEvent.contactPerson.lastname}}"/>
                </div>
                <ng-container *ngIf="organizationEvent.oldContactPerson?.picture != null && organizationEvent.contactPerson.picture?.value != organizationEvent.oldContactPerson?.picture?.value">
                    <div class="float-right">
                        <span class="material-icons md-48 image-arrow">keyboard_arrow_right</span>
                    </div>
                    <div class="float-right">
                        <img [src]="'api/picture/' + organizationEvent.oldContactPerson.picture.value + '/icon' | authImage | async"
                             width="100%"
                             alt="{{organizationEvent.oldContactPerson.firstname}} {{organizationEvent.contactPerson.lastname}}"/>
                    </div>
                </ng-container>
                <h5 class="mb-1">{{ 'edit.organization.changes.contactPerson.change.title' | translate }}</h5>
                <text-diff [text1]="organizationEvent.oldContactPerson.firstname" [text2]="organizationEvent.contactPerson.firstname" [simple]="true"></text-diff>&nbsp;
                <text-diff [text1]="organizationEvent.oldContactPerson.lastname" [text2]="organizationEvent.contactPerson.lastname" [simple]="true"></text-diff><br />
                <span *ngIf="organizationEvent.contactPerson.rank || organizationEvent.oldContactPerson.rank">(<text-diff [text1]="organizationEvent.oldContactPerson.rank" [text2]="organizationEvent.contactPerson.rank"></text-diff>)<br/></span>
                <span *ngIf="organizationEvent.contactPerson.telephone || organizationEvent.oldContactPerson.telephone">{{'organization.contact.telephone' | translate}} <text-diff [text1]="organizationEvent.oldContactPerson.telephone" [text2]="organizationEvent.contactPerson.telephone"></text-diff><br/></span>
                <span *ngIf="organizationEvent.contactPerson.mail || organizationEvent.oldContactPerson.mail">{{'organization.contact.mail' | translate}} <text-diff [text1]="organizationEvent.oldContactPerson.mail" [text2]="organizationEvent.contactPerson.mail"></text-diff><br/></span>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditAddGroupEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.group.add.title' | translate: {groupTitle: organizationEvent.group.name} }}</h5>
                {{organizationEvent.group.description}}
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDeleteGroupEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.group.delete.title' | translate: {groupTitle: organizationEvent.group.name} }}</h5>
                {{organizationEvent.group.description}}
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditChangeGroupEventDto'">
                <change-position [indexOffset]="organizationEvent.indexOffset"></change-position>
                <h5 class="mb-1">{{ 'edit.organization.changes.group.change.title' | translate: {groupTitle: organizationEvent.group.name} }}</h5>
                <p *ngIf="organizationEvent.oldGroup.name != organizationEvent.group.name"><strong><text-diff [text1]="organizationEvent.oldGroup.name" [text2]="organizationEvent.group.name"></text-diff></strong></p>
                <p *ngIf="organizationEvent.oldGroup.description != organizationEvent.group.description"><text-diff [text1]="organizationEvent.oldGroup.description" [text2]="organizationEvent.group.description"></text-diff></p>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditAddPictureEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.picture.add.title' | translate }}</h5>
                <img [src]="'api/picture/' + organizationEvent.pictureId.value + '/icon' | authImage | async" alt=""/>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDeletePictureEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.picture.delete.title' | translate }}</h5>
                <img [src]="'api/picture/' + organizationEvent.pictureId.value + '/icon'" alt=""/>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditChangePictureEventDto'">
                <change-position [indexOffset]="organizationEvent.indexOffset"></change-position>
                <h5 class="mb-1">{{ 'edit.organization.changes.picture.change.title' | translate }}</h5>
                <img [src]="'api/picture/' + organizationEvent.pictureId.value + '/icon'" alt=""/>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditAddQuestionAnswerEventDto'">
                <div class="float-right">
                    <img [src]="organizationEvent.answeredQuestion.answer | answerImage" [alt]="organizationEvent.answeredQuestion.answer"/>
                </div>
                <h5 class="mb-1">{{ 'edit.organization.changes.questionAnswer.add.title' | translate }}</h5>
                <p>{{ organizationEvent.answeredQuestion.question }}</p>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDeleteQuestionAnswerEventDto'">
                <div class="float-right">
                    <img [src]="organizationEvent.answeredQuestion.answer | answerImage" [alt]="organizationEvent.answeredQuestion.answer"/>
                </div>
                <h5 class="mb-1">{{ 'edit.organization.changes.questionAnswer.delete.title' | translate }}</h5>
                <p>{{ organizationEvent.answeredQuestion.question }}</p>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditChangeQuestionAnswerEventDto'">
                <div class="float-right">
                    <img [src]="organizationEvent.answeredQuestion.answer | answerImage" [alt]="organizationEvent.answeredQuestion.answer"/>
                </div>
                <ng-container *ngIf="organizationEvent.oldAnsweredQuestion.answer != organizationEvent.answeredQuestion.answer">
                    <div class="float-right">
                        <span class="material-icons md-48 question-arrow">keyboard_arrow_right</span>
                    </div>
                    <div class="float-right">
                        <img [src]="organizationEvent.oldAnsweredQuestion.answer | answerImage" [alt]="organizationEvent.oldAnsweredQuestion.answer"/>
                    </div>
                </ng-container>
                <h5 class="mb-1">{{ 'edit.organization.changes.questionAnswer.change.title' | translate }}</h5>
                <p>{{ organizationEvent.answeredQuestion.question }}</p>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditAddVolunteerEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.volunteer.add.title' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDeleteVolunteerEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.volunteer.delete.title' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditDescriptionEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.descriptionChanged' | translate }}</h5>
                <text-diff [text1]="organization?.description" [text2]="organizationEvent.description"></text-diff>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditLogoEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.logoChanged' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditNameEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.nameChanged' | translate }}</h5>
                <text-diff [text1]="organization?.name" [text2]="organizationEvent.name"></text-diff>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditTeaserImageEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.teaserImageChanged' | translate }}</h5>
                <img [src]="'api/picture/' + organizationEvent.teaserImage.value + '/icon' | authImage | async" alt=""/>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditUrlNameEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.urlNameChanged' | translate }}</h5>
            </ng-container>
            <ng-container *ngSwitchCase="'.OrganizationEditWebsiteEventDto'">
                <h5 class="mb-1">{{ 'edit.organization.changes.websiteChanged' | translate }}</h5>
                <text-diff [text1]="organization?.website" [text2]="organizationEvent.website"></text-diff>
            </ng-container>
            <ng-container *ngSwitchDefault>{{ 'edit.organization.changes.unknownEvent' | translate: {eventName: organizationEvent.type} }}</ng-container>
        </div>
    </ng-container>
</div>