<div class="panel panel-default" *ngFor="let organisation of currentOrganisations">
    <div class="panel-heading" (click)="openOrganisation.emit(organisation)">{{organisation.name}}</div>
    <div class="panel-body" (click)="openOrganisation.emit(organisation)">
        <div class="media">
            <div class="media-left media-top media-logo">
                <img class="media-object" [attr.src]="getImagePath(organisation.logo)"
                     [attr.alt]="organisation.name">
            </div>
            <div class="media-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped"
                         role="progressbar"
                         [attr.aria-valuenow]="organisation.scoreNorm"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         [style.width.%]="organisation.scoreNorm">
                        <span class="sr-only">{{organisation.scoreNorm}}% Complete</span>
                    </div>
                </div>
                <a [attr.href]="organisation.website">{{organisation.website}}</a>
            </div>
        </div>
    </div>
</div>