<div class="panel panel-default" *ngFor="let organisation of currentOrganisations">
    <div class="panel-heading" (click)="openOrganisation.emit(organisation)">{{organisation.name}}</div>
    <div class="panel-body" (click)="openOrganisation.emit(organisation)">
        <div class="media">
            <div class="media-left media-top media-logo">
                <img class="media-object" [attr.src]="getImagePath(organisation.logo)"
                     [attr.alt]="organisation.name">
            </div>
            <div class="media-body">
                <p>
                    <organisation-score [scoreNorm]="organisation.scoreNorm"></organisation-score>
                </p>
                <p>
                    <span *ngFor="let contactPerson of organisation.contactPersons">
                        <strong>{{contactPerson.firstname}} {{contactPerson.lastname}}</strong>
                        <span *ngIf="contactPerson.rank">({{contactPerson.rank}})</span>
                        <br/>
                    </span>
                </p>
                <p>
                    <a [attr.href]="organisation.website">{{organisation.website}}</a>
                </p>
            </div>
        </div>
    </div>
</div>