<helfomat-google-maps
    *ngIf="!offlineMode"
    [organisations]="organisations"
    [center]="center"
    [position]="position"
    [distance]="distance"
    [zoom]="zoom"
    [clusteredOrganisations]="clusteredOrganisations"
    [allowUpdatePosition]="allowUpdatePosition"
    [mapSize]="mapSize"
    [showMapResizeButton]="showMapResizeButton"
    [showDefaultAddressBar]="showDefaultAddressBar"
    (updatePosition)="updatePosition.next($event)"
    (updateBoundingBox)="updateBoundingBox.next($event)"
    (updateZoom)="updateZoom.next($event)"
    (openOrganisation)="openOrganisation.next($event)"
><ng-content></ng-content></helfomat-google-maps>
<helfomat-alternative-map
    *ngIf="offlineMode"
    [organisations]="organisations"
    [center]="center"
    [position]="position"
    [distance]="distance"
    [zoom]="zoom"
    [clusteredOrganisations]="clusteredOrganisations"
    [allowUpdatePosition]="allowUpdatePosition"
    [mapSize]="mapSize"
    [showMapResizeButton]="showMapResizeButton"
    [showDefaultAddressBar]="showDefaultAddressBar"
    (updatePosition)="updatePosition.next($event)"
    (updateBoundingBox)="updateBoundingBox.next($event)"
    (updateZoom)="updateZoom.next($event)"
    (openOrganisation)="openOrganisation.next($event)"
><!--
You cannot use ng-content twice, so it is skipped here.
Maybe it will get fixed in the future: https://github.com/angular/angular/issues/9173
--></helfomat-alternative-map>