<div *ngIf="approval | async; let approval">
    <nav class="navbar sticky-top navbar-dark bg-lightblue">
        <span class="navbar-brand">{{approval.organizationName}}</span>
        <div class="btn-group">
            <button class="btn btn-danger" type="button" (click)="decline(approval)">{{'manage.organization.approval.review.reject' | translate}}</button>
            <button class="btn btn-success" type="submit" (click)="approve(approval)">{{'manage.organization.approval.review.publishChanges' | translate}}</button>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="authorFirstName">{{ 'manage.organization.approval.review.author.firstName' | translate }}</label>
                <input type="text" id="authorFirstName" class="form-control" [value]="approval.author?.firstName" readonly/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="authorLastName">{{ 'manage.organization.approval.review.author.lastName' | translate }}</label>
                <input type="text" id="authorLastName" class="form-control" [value]="approval.author?.lastName" readonly/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="authorUsername">{{ 'manage.organization.approval.review.author.username' | translate }}</label>
                <input type="text" id="authorUsername" class="form-control" [value]="approval.proposedDomainEvent.author" readonly/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="authorEmail">{{ 'manage.organization.approval.review.author.email' | translate }}</label>
                <input type="text" id="authorEmail" class="form-control" [value]="approval.author?.email" readonly/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="sources">{{ 'manage.organization.approval.review.sources' | translate }}</label>
        <textarea class="form-control" id="sources" autosize [value]="approval.proposedDomainEvent.sources" readonly></textarea>
    </div>
    <div class="form-group">
        <label for="date">{{ 'manage.organization.approval.review.date' | translate }}</label>
        <input type="text" id="date" class="form-control" [value]="approval.date" readonly/>
    </div>

    <organization-event
        [organization]="approval.organization"
        [organizationEvents]="approval.proposedDomainEvent.changes"></organization-event>
</div>