@import '~bootstrap/scss/functions', '~bootstrap/scss/variables', '~bootstrap/scss/mixins';

.addressSearchContainer {
  margin-top: 5em;
}

.pointer {
  cursor: pointer;
}

@include media-breakpoint-down('sm') {
  .slide {
    overflow: hidden;

    .slide-holder {
      width: calc(200% - 30px);
    }
  }
}

@include media-breakpoint-up('md') {
  div {
    transform: none !important;
  }
}