<div>

    <nav class="navbar sticky-top navbar-dark bg-lightblue">
        <span class="navbar-brand">{{'manage.organization.approval.headline' | translate}}</span>
    </nav>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">{{ 'manage.organization.approval.organizationName' | translate}}</th>
            <th scope="col">{{ 'manage.organization.approval.author' | translate}}</th>
            <th scope="col">{{ 'manage.organization.approval.date' | translate}}</th>
            <th scope="col">{{ 'manage.organization.approval.sources' | translate}}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody *ngIf="approvals | async; let approvals">
        <tr *ngFor="let approval of approvals">
            <td>{{approval.organizationName}}</td>
            <td>{{approval.author}}</td>
            <td>{{approval.date}}</td>
            <td>{{approval.sources}}</td>
            <td>
                <button class="btn btn-primary btn-sm" [routerLink]="'review/' + approval.approvalId.value">{{ 'manage.organization.approval.reviewButton' | translate }}</button>
            </td>
        </tr>

        </tbody>
        <tbody *ngIf="approvalHistory | async; let approvalHistory">
        <tr class="table-active">
            <td colspan="5">{{ 'manage.organization.approval.historyHeadline' | translate }}</td>
        </tr>
        <tr *ngFor="let approval of approvalHistory">
            <td>{{approval.organizationName}}</td>
            <td>{{approval.author}} / {{approval.approvedBy}}</td>
            <td>{{approval.date}}</td>
            <td>{{approval.sources}}</td>
            <td>
                <button class="btn btn-secondary btn-sm" [routerLink]="'review/' + approval.approvalId.value">{{ 'manage.organization.approval.showButton' | translate }}</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>