body {
  font-size: 20px;
}

#body {
  width: 100%;

  #main {
    width: 100%;
    margin: 0;

    #header {
      background-image: url('./assets/images/logo.jpg'), url('./assets/images/logo-background.jpg');
      background-size: auto, 100% 160px;
      background-position: top center, top left;
      background-repeat: no-repeat, repeat;
      height: 160px;
    }

    .badge {
      font-size: 125%;
    }
  }
}