<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<img th:src="|cid:logo|" src="./logo.jpg" alt="HelfenKannJeder.de"/>
<p th:text="${#messages.msg('contact-request-send-email.title', contactRequest.contactPerson.firstname)}">Hallo David,</p>
<p th:text="${#messages.msg('contact-request-send-email.introduction', contactRequest.name, organization.name)}">wir haben eine E-Mail von Valentin erhalten. Valentin hat Interesse in THW Karlsruhe gezeigt.</p>
<p th:text="${#messages.msg('contact-request-send-email.contact', contactRequest.name, contactRequest.email)}">Anbei die Nachricht von Valentin. Du erreichst Valentin via E-Mail unter valen....ner@helfenkannjeder.de</p>
<strong th:text="${contactRequest.subject}">Der Betreff</strong>
<p><pre th:text="${contactRequest.message}">Die Nachricht</pre>
</body>
</html>