<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="${#messages.msg('batch-job-error-notification-body.title')}">Hallo,</p>
<p th:text="${#messages.msg('batch-job-error-notification-body.content')}">es ist ein Fehler während eines Batch Jobs aufgetretten:</p>

<p th:text="${#messages.msg('batch-job-error-notification-body.exception', exception)}">NullPointerException</p>
</body>
</html>