<div *ngIf="organization$ | async; let organization; else loading">
    <div class="custom-content">
        <div class="logo-container" *ngIf="organization.pictures.length > 0">
            <div class="logo">
                <img [src]="'assets/images/logos/' + organization.logo.value + '.jpg'"
                     [attr.alt]="organization.name">
            </div>
            <img [src]="'assets/images/teaser/' + organization.pictures[0].value + '.jpg'" width="100%"/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <h1>{{organization.name}}</h1>
            <p *ngIf="showUrls()"><a href="{{organization.website}}">{{organization.website}}</a></p>
            <p>{{organization.description}}</p>

            <div *ngIf="organization.attendanceTimes.length > 0">
                <h2>{{'organization.attendanceTime.title' | translate}}</h2>
                <div *ngFor="let attendanceTime of organization.attendanceTimes">
                    <h4>
                        {{'organization.attendanceTime.weekday.' + attendanceTime.day | translate}},
                        {{attendanceTime.start | time}}-{{attendanceTime.end | time}}
                        {{'organization.attendanceTime.clock' | translate}}
                    </h4>
                    <p *ngIf="attendanceTime.note">
                        {{'organization.attendanceTime.note' | translate}}
                        {{attendanceTime.note}}
                    </p>
                </div>
            </div>

            <h2>{{'organization.group.title' | translate}}</h2>
            <div *ngFor="let group of organization.groups">
                <h3>{{group.name}}</h3>
                {{group.description}}
            </div>

            <div *ngIf="organization.volunteers.length > 0">
                <h2>{{'organization.persons.title' | translate}}</h2>
                <div class="card" *ngFor="let volunteer of organization.volunteers">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4" *ngIf="volunteer.picture">
                                <img src="api/picture/{{volunteer.picture.value}}/medium" alt="{{volunteer.firstname}}"
                                     style="width:100%">
                            </div>
                            <div class="col-lg-8">
                                <div class="caption">
                                    <h3>{{volunteer.firstname}}</h3>
                                    <p>{{volunteer.motivation}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="userAnswers | async; let userAnswers">
                <h2 id="compare">{{'organization.questionsAndAnswers.title' | translate}}</h2>
                <div class="card card-default">
                    <table class="table">
                        <tr>
                            <th>{{'organization.questionsAndAnswers.question' | translate}}</th>
                            <th>{{'organization.questionsAndAnswers.organization' | translate}}</th>
                            <th>{{'organization.questionsAndAnswers.you' | translate}}</th>
                            <th>{{'organization.questionsAndAnswers.compare.title' | translate}}</th>
                        </tr>
                        <tr *ngFor="let question of organization.questions; let i = index;">
                            <td>{{question.question}}</td>
                            <td><img src="{{question.answer | answerImage}}" class="thumb"/></td>
                            <td><img *ngIf="userAnswers[i]" src="{{userAnswers[i] | answerImage}}" class="thumb"/></td>
                            <td class="text-right">
                                <span *ngIf="userAnswers[i]">{{'organization.questionsAndAnswers.compare.match' + (question.answer |
                                    compareAnswer:userAnswers[i]) | translate}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-default" *ngIf="organization.addresses.length > 0">
                <div class="card-header">
                    {{organization.addresses.length | i18nPlural: {
                    '=1': 'organization.address.title',
                    'other': 'organization.address.titlePlural'
                } | translate}}
                </div>
                <helfomat-single-map
                    [organization]="organization$"
                    [position]="position"
                    [distance]="distance"
                    [allowUpdatePosition]="false"
                    [showMapResizeButton]="false"></helfomat-single-map>
                <ul class="list-group">
                    <li *ngFor="let address of organization.addresses" class="list-group-item"
                        [ngClass]="{'list-group-item-info': areAddressesEqual(organization.defaultAddress, address)}">
                        <strong *ngIf="address.addressAppendix">{{address.addressAppendix}}<br/></strong>
                        {{address.street}}, {{address.zipcode}} {{address.city}}<br/>
                        <span
                            *ngIf="address.telephone">{{'organization.address.telephone' | translate}}: {{address.telephone}}</span>
                    </li>
                </ul>
                <br class="clearfix"/>
            </div>

            <div class="card card-default" *ngIf="organization.contactPersons.length > 0">
                <div class="card-header">
                    {{'organization.contact.title' | translate}}
                </div>
                <div class="card-body">
                    <div *ngFor="let contactPerson of organization.contactPersons" class="row">
                        <div class="col-md-4" *ngIf="contactPerson.picture">
                            <img src="api/picture/{{contactPerson.picture.value}}/icon"
                                 width="100%"
                                 alt="{{contactPerson.firstname}} {{contactPerson.lastname}}"/>
                        </div>
                        <div class="col">
                            <h4>{{contactPerson.firstname}} {{contactPerson.lastname}}</h4>
                            <p>
                                <span *ngIf="contactPerson.rank">({{contactPerson.rank}})<br/></span>
                                <span *ngIf="contactPerson.telephone">{{'organization.contact.telephone' | translate}}
                                    {{contactPerson.telephone}}<br/></span>
                                <span *ngIf="contactPerson.mail"><a class="btn btn-sm btn-secondary" (click)="openContactForm(organization, contactPerson)">
                                    {{'organization.contact.contactForm' | translate: {contact: contactPerson} }}
                                </a><br/></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-default" *ngIf="scoreNorm | async; else backLink">
                <div class="card-header">
                    {{'organization.facts.helfomatResult.title' | translate}}
                </div>
                <div class="card-body">
                    <organization-score [scoreNorm]="scoreNorm | async"></organization-score>
                    <br class="clearfix"/>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a pageScroll class="nav-link" href="#compare">
                                <i class="material-icons">compare</i>
                                {{'organization.facts.helfomatResult.compare' | translate}}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="_back$.next()">
                                <i class="material-icons">backspace</i>
                                {{'organization.facts.helfomatResult.back' | translate}}
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="organization.addresses.length > 0 || isReviewer()">
                            <a class="nav-link" routerLink="/volunteer/organization/{{organization.urlName}}/edit">
                                <i class="material-icons">edit</i>
                                {{'organization.facts.helfomatResult.edit' | translate}}
                            </a>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" routerLink="/volunteer/organization/{{organization.urlName}}/history">-->
<!--                                <i class="material-icons">history</i>-->
<!--                                {{'organization.facts.helfomatResult.history' | translate}}-->
<!--                            </a>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>
            <ng-template #backLink>
                <div class="card card-default">
                    <div class="card-header">
                        {{'organization.facts.helfomatResult.action' | translate}}
                    </div>
                    <div class="card-body">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" (click)="_back$.next()">
                                    <i class="material-icons">backspace</i>
                                    {{'organization.facts.helfomatResult.back' | translate}}
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="organization.addresses.length > 0 || isReviewer()">
                                <a class="nav-link" routerLink="/volunteer/organization/{{organization.urlName}}/edit">
                                    <i class="material-icons">edit</i>
                                    {{'organization.facts.helfomatResult.edit' | translate}}
                                </a>
                            </li>
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" routerLink="/volunteer/organization/{{organization.urlName}}/history">-->
<!--                                    <i class="material-icons">history</i>-->
<!--                                    {{'organization.facts.helfomatResult.history' | translate}}-->
<!--                                </a>-->
<!--                            </li>-->
                        </ul>
                    </div>
                </div>
            </ng-template>
            <div class="card card-default" *ngIf="travelDistances | async; let travelDistances">
                <div class="card-header">
                    {{'organization.facts.distance.title' | translate}}
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>{{'organization.facts.distance.meansOfTransport' | translate}}</th>
                        <th>{{'organization.facts.distance.distance' | translate}}</th>
                        <th>{{'organization.facts.distance.duration' | translate}}</th>
                    </tr>
                    <tr *ngFor="let travelDistance of travelDistances">
                        <td>
                            <ng-container [ngSwitch]="travelDistance.travelMode">
                                <i *ngSwitchCase="'FLIGHT'" class="material-icons">flight</i>
                                <i *ngSwitchCase="'WALKING'" class="material-icons">directions_run</i>
                                <i *ngSwitchCase="'CYCLING'" class="material-icons">directions_bike</i>
                                <i *ngSwitchCase="'DRIVING'" class="material-icons">directions_car</i>
                                <i *ngSwitchCase="'TRANSIT'" class="material-icons">directions_transit</i>
                            </ng-container>
                            {{'organization.facts.distance.' + travelDistance.travelMode | translate}}</td>
                        <td>
                            <distance [meter]="travelDistance.distanceInMeters"></distance>
                        </td>
                        <td>
                            <time [seconds]="travelDistance.timeInSeconds"></time>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="card card-default" *ngIf="organization.pictures.length > 1">
                <div class="card-header">
                    {{'organization.pictures.title' | translate}}
                </div>
                <img [src]="'assets/images/pictures/' + picture.value + '.jpg'" width="100%"
                     *ngFor="let picture of organization.pictures.slice(1)"/>
            </div>
        </div>

    </div>
</div>

<ng-template #loading>{{'organization.dataLoading' | translate}}</ng-template>