@import "../../colors";

img.thumb {
  width: 2em;
  height: 2.32em;
}

.teaser-image {
  width: 100%;
}

.logo-container {
  position: relative;

  .edit {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    opacity: 0.5;
    font-size: 2em;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .logo {
    position: absolute;
    right: 0;
    bottom: 10%;
    padding: 1em 1em 1em 1.2em;
    background-color: white;
  }
}

a {
  color: $darkblue;

  &:hover {
    color: $darkblue;
  }
}

a.btn {
  color: white;
}

.navbar.sticky-top {
  margin-right: -15px;
  margin-left: -15px;
}